:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.quiz {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: start;
}

.progress {
  width: 100%;
  margin: 2% auto;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  column-gap: 2%;
  row-gap: 0%;
  align-items: center;
  color: var(--p-primary-500);
}

.question-text {
  grid-column-start: 2;
  padding: 0 0 0 2%;
  margin: 0;
}

.lower-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  position: relative;
  bottom:0em;
  width: 100%;
}

.start-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.suivant-page{
  margin-left: 16px;
  margin-right: 16px;
  --p-button-primary-active-background: #ff5d5c;
  --p-button-primary-hover-background: #cd2524;
  --p-button-primary-active-border-color: #ff5d5c;
  --p-button-primary-hover-border-color: #cd2524;
}

.retour-page{
  margin-left: 16px;
  margin-right: 16px;
  --p-button-primary-active-background: #f4f4f4;
  --p-button-primary-hover-background: #e9e9e9;
}

::ng-deep .retour-page button {
  width: 150px; /* Force the width */
}

::ng-deep .suivant-page button {
  width: 150px; /* Force the width */
}


.theme-indicator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.ProgressBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.ProgressBar li {
  display: table-cell;
  text-align: center;
  position: relative;
  width: 100%;
}

.ProgressBar-wellFill {
  border-radius: 10%;
  background-color: #BDBDBD;
  display: block;
  height: 5px;
  position: relative;
  width: 100%;
  top: -35px;
  left: 50%;
}

.ProgressBar-icon {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 4px solid #BDBDBD;
  max-width: 100%;
  z-index: 10;
  position: relative;
  transition: all .25s ease-out;
}

.ProgressBar-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #E9E9E9;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  margin: auto;
  padding: 2px 5px 2px 5px;
}

.ProgressBar-stepLabel {
  font-size: 12px;
  color: #696969;
  width: 100%;
  transition: all .25s ease-out;
}

.ProgressBar-wellFill-now{
  border-radius: 10%;
  background-color: #DA3635;
  height: 5px;
}

.ProgressBar-icon-now {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 4px solid #DA3635;
  max-width: 100%;
  z-index: 10;
  position: relative;
  transition: all .25s ease-out;
}

.ProgressBar-span-now {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #FFE5E4;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  margin: auto;
  padding: 2px 5px 2px 5px;
}

.ProgressBar-stepLabel-now {
  font-size: 12px;
  color: #DA3635;
  width: 100%;
  transition: all .25s ease-out;
}

.ProgressBar-wellFill-before{
  border-radius: 10%;
  background-color: #1D8844;
  display: block;
  height: 5px;     
  position: relative;
  width: 100%;
  top: -35px;
  left: 50%;
}

.ProgressBar-icon-before {
  width: 20px;
  height: 20px;
  background-color: #1D8844;
  border-radius: 50%;
  max-width: 100%;
  z-index: 10;
  position: relative;
  transition: all .25s ease-out;
}

.ProgressBar-span-before {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #EEFFE4;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  margin: auto;
  padding: 2px 5px 2px 5px;
}


.ProgressBar-stepLabel-before {
  font-size: 12px;
  color: #1D8844;
  width: 100%;
  transition: all .25s ease-out;
}

.ProgressBar-wellFill-void{
  border-radius: 10%;
  background-color: #ffffff;
  display: block;
  height: 5px;     
  position: relative;
  width: 100%;
  top: -35px;
  left: 50%;
}